*{
    font-family: 'Lato_regular';
    font-size: 1rem;
    line-height: 1;
}
body{
    padding: 0;
    margin: 0;
}
.container1600{
    max-width: 1600px;
    margin: 0 auto;
}
.container1400{
    max-width: 1400px;
    margin: 0 auto;
}
.container1200{
    max-width: 1200px;
    margin: 0 auto;
}

/*card player*/
#team{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 15px;
}
.card_player{
    position: relative;
    background: violet;
    display: flex;
    flex-direction: column;
    height: 350px;
}
.img_player{
    position: absolute;
    width: 100%;
    left: 0;
    height: 300px;
    background: blue;
}
.img_player img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}