*{
    font-family: 'Lato_regular';
    font-size: 1rem;
    line-height: 1;
}
body{
    padding: 0;
    margin: 0;
}
.container1600{
    max-width: 1600px;
    margin: 0 auto;
}
.container1400{
    max-width: 1400px;
    margin: 0 auto;
}
.container1200{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-family: 'Lato_black';
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    background: var(--bleu-fonce);
    position: relative;
    padding: 10px 15px;
    width: fit-content;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(19, 99, 223, 0.5); 
    box-shadow: 2px 2px 12px 2px rgba(19, 99, 223, 0.5);
}

/*card player*/
#all_player{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 15px;
    margin: 30px auto;
}
.card_player{
    position: relative;
    display: flex;
    border: solid 1px transparent;
    transition: all .3s;
    flex-direction: column;
    height: 350px;
    padding: 10px 20px;
    background-color: #fff;
}
.card_player:hover{
    border: solid 1px var(--color-fonce);
    transition: all .3s;
    transform: scale(1.05);
}
.img_player{
    position: absolute;
    left: 0;
    height: 350px;
}
.img_player img{
    margin-left: 10px;
    min-height: 300px;
    max-height: 100%;}
.info_player{
    z-index: 9;
    width: calc(100% - 210px);
    margin-left: auto;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3); 
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
    transition: all .3s;
}
.info_player h2{
    font-family: 'Lato_black';
    margin: 0;
    font-size: 1.5rem;
}
.card_player:hover .info_player{box-shadow: none;}
.card_player:hover .stats_bar_kd span,
.card_player:hover .stats_bar_hs span,
.card_player:hover .stats_bar_win span,
.card_player:hover .role,
.card_player:hover .stats_value{
    background: var(--bleu-fonce);
    transition: all .3s;
}
.stats{width: 100%;}
.stats_bar_kd, .stats_bar_hs, .stats_bar_win,.stats_bar_dmg{
    width: 100%;
    height: 10px;
    background: var(--gris-clair);
    border: solid 1px var(--gris-fonce);
}
.stats_bar_kd span, .stats_bar_hs span, .stats_bar_win span{
    width: 62%;
    height: 10px;
    transition: all .3s;
    background: var(--bleu-clair);
    display: block;
    position: relative;
    border-radius: 0 1px 1px 0;
}
.stats_bar_hs span{width: 48%;}
.stats_bar_win span{width: 84%;}
.name_stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    transition: all .3s;
}
.name_stats > *{
    margin: 0;
    padding: 0;
}
.stats_label{
    font-family: 'Lato_bold';
    font-size: 14px;
}
.stats_value{
    background: var(--bleu-clair);
    padding: 5px;
    font-size: 12px;
    color: #fff;
    font-family: 'Lato_regular';
    border-radius: 5px;
}
.role{
    font-family: 'Lato_bold';
    color: #fff;
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.2;
    padding: 3px 10px;
    background: var(--bleu-clair);
    width: fit-content;
    transition: all .3s;
}
