*{
    font-family: 'Lato_regular';
    font-size: 1rem;
    line-height: 1;
}
body{
    padding: 0;
    margin: 0;
}
.container1600{
    max-width: 1600px;
    margin: 0 auto;
}
.container1400{
    max-width: 1400px;
    margin: 0 auto;
}
.container1200{
    max-width: 1200px;
    margin: 0 auto;
}

/*card player*/
#team{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 15px;
}
.card_player{
    position: relative;
    background: violet;
    display: flex;
    flex-direction: column;
    height: 350px;
}
.img_player{
    z-index: 9;
    position: absolute;
    left: 0;
    padding: 10px;
    height: 250px;
}
.img_player img{
    max-height: 100%;
}
.info_player{
    width: calc(100% - 180px);
    margin-left: auto;
    padding: 10px 20px;
    background: green
}
.stats_bar{
    width: 100%;
    height: 10px;
    background: red;
}
.stats_bar span{
    width: 42%;
    height: 10px;
    background: blue;
    display: block;
    position: relative;
}
.stats_bar span::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: blue;
    display: block;
    position: absolute;
    top: -50%;
    border-radius: 30px;
    right: -10px;
}