#top{
    background: var(--color-fonce);
    position: relative;
    padding: 10px 20px;
}
.scrollmenu_actif{position: fixed;}
.menu_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{display: block;}
.logo{
    background: none;
    box-shadow: none;
    height: fit-content;
}
.logo img{
    width: 250px;
    min-width: 150px;}
#top nav ul{
    display: flex;
}
#top li{
    list-style: none;
}
#top li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 8px 12px;
    border: solid 1px transparent;
    transition: all .3s;
    font-family: 'Lato_bold';
}
#top li a:hover{
    transition: all .3s;
    border: solid 1px #fff;
}
#top li:last-child a{
    color: var(--bleu-clair);
}
#top li:last-child a:hover{
    color: var(--bleu-fonce);
    border: solid 1px var(--bleu-fonce);
}
.bandeau_accueil{
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.img_accueil{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.txt_accueil{
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5); 
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
}